$blue: #1c3eff;
$light-blue: #8e9efc;
$blue-gradient: rgba(28, 62, 255, 0.8);
$light-blue-gradient: rgba(142, 158, 252, 0.8);
$text-grey: #777;
$text-white: #fff;
$bg-grey: #f7f7f7;
$bg-grey-gradient: rgba(255, 255, 255, 0.8);

$outline-blue: #5a73fc;