* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@keyframes down-to {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  50% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes left-to {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes right-to {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.heading-section {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4rem;
  transition: all 0.2s;
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
  -webkit-background-clip: text;
  color: transparent;
}
.heading-section:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: skewY(5deg) scale(1.1);
}

@media only screen and (max-width: 768px) {
  .heading-section {
    font-size: 2rem;
  }
}
.button-link {
  background-color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 4rem;
  color: #777;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  margin-top: 4rem;
  cursor: pointer;
}
.button-link::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 4rem;
  z-index: -1;
  transition: all 0.4s;
}
.button-link:hover {
  transform: translateY(-3px);
}
.button-link:active {
  transform: translateY(3px);
}
.button-link:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .button-link {
    padding: 0.8rem 2rem;
    border-radius: 4rem;
    font-size: 1rem;
  }
}
.heading-item {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

.text {
  font-size: 1.1rem;
}

.container {
  background-color: #f7f7f7;
}

.header {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url(../img/bg.jpg);
  background-position: top;
  background-size: cover;
  height: 90vh;
  position: relative;
  clip-path: ellipse(60% 60% at 50% 33%);
}
.header__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 10rem;
  height: 5rem;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.header__content .main {
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  animation: left-to 2s;
}
.header__content .sub {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1rem;
  animation: right-to 2s;
}

@media only screen and (max-width: 1200px) {
  .main {
    font-size: 4rem !important;
    letter-spacing: 1rem !important;
  }
  .sub {
    font-size: 1.4rem !important;
    letter-spacing: 1rem !important;
  }
}
@media only screen and (max-width: 768px) {
  .header__logo {
    width: 7rem;
    height: 3.5rem;
  }
  .main {
    font-size: 2.5rem !important;
    letter-spacing: 0.2rem !important;
  }
  .sub {
    font-size: 1rem !important;
    letter-spacing: 0.2rem !important;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.about__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(0, 1fr);
  column-gap: 1rem;
  row-gap: 0;
  padding: 0 2rem;
  margin-bottom: 1rem;
}
.about__content-text .heading-item {
  margin-bottom: 1rem;
}
.about__content-text .text {
  margin-bottom: 2rem;
}
.about__content-text a {
  color: #5a73fc;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 2rem;
  border-bottom: #5a73fc solid 2px;
  transition: all 0.2s;
}
.about__content-text a:hover {
  background-color: #5a73fc;
  color: #fff;
}
.about__content-img {
  position: relative;
}
.about__content-img img {
  width: 340px;
  height: 220px;
  position: absolute;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.8);
}
.about__content-img img:hover {
  outline: #5a73fc solid 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  transform: scale(1.05) translateY(-3px);
  z-index: 4;
}
.about__content-img .img1 {
  z-index: 1;
  left: 5%;
}
.about__content-img .img2 {
  z-index: 2;
  top: 20%;
  right: 5%;
}
.about__content-img .img3 {
  z-index: 3;
  top: 40%;
  left: 20%;
}

@media only screen and (max-width: 1200px) {
  .about__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0;
    row-gap: 0;
  }
  .about__content-text {
    text-align: center;
  }
  .about__content-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .about__content-img img {
    position: unset;
    width: 32%;
  }
}
@media only screen and (max-width: 768px) {
  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about__content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about__content-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
  .about__content-img img {
    width: 90%;
  }
}
.skill {
  background-image: linear-gradient(120deg, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url("../../img/bg2.jpg");
  background-size: cover;
  background-position: center;
  clip-path: ellipse(70% 50% at 50% 50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(0, 1fr);
  column-gap: 60px;
  row-gap: 0;
  padding: 12rem 2rem;
  margin: 4rem 0;
}
.skill-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4rem;
  text-align: center;
  padding: 1.4rem 0 2rem;
  transition: all 0.3s;
  cursor: pointer;
}
.skill-item:hover {
  transform: scale(1.04) translateY(-1rem);
}
.skill-item i {
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 4rem;
}
.skill-item h3 {
  padding: 1.2rem 1.8rem 0;
}
.skill-item p {
  padding: 1.2rem 1.8rem;
}

@media only screen and (max-width: 1200px) {
  .skill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30x;
    row-gap: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .skill {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 0;
    row-gap: 30px;
  }
}
.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.course .button-link {
  background-color: rgba(28, 62, 255, 0.8);
  color: #fff;
}
.course .button-link::after {
  background-color: rgba(28, 62, 255, 0.8);
}
.course .course-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(0, 1fr);
  column-gap: 5rem;
  row-gap: 0;
  padding: 0 2rem;
}
.course .course-content .card {
  height: 30rem;
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
  perspective: 500rem;
  box-shadow: 0 1.5rem 10rem rgba(0, 0, 0, 0.5);
}
.course .course-content .card__side {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.course .course-content .card__side-front {
  background-color: #fff;
  transition: all 0.8s ease;
}
.course .course-content .card__side-front .img {
  width: 100%;
  height: 50%;
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
  clip-path: ellipse(80% 70% at 50% 30%);
}
.course .course-content .card__side-front .img-1 {
  background-image: url("../../img/card1.jpg");
}
.course .course-content .card__side-front .img-2 {
  background-image: url("../../img/card2.jpg");
}
.course .course-content .card__side-front .img-3 {
  background-image: url("../../img/card3.jpg");
}
.course .course-content .card__side-front .tag {
  position: absolute;
  right: 2rem;
  top: 30%;
  width: fit-content;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.course .course-content .card__side-front .tag__1 {
  width: fit-content;
  padding: 0.2rem 1.2rem;
  border-radius: 1.5rem;
  background-color: rgba(255, 119, 48, 0.8);
}
.course .course-content .card__side-front .tag__1:nth-of-type(2) {
  transform: translateY(-0.5rem);
}
.course .course-content .card__side-front .tag__2 {
  width: fit-content;
  padding: 0.4rem 1.2rem;
  border-radius: 1.5rem;
  background-color: rgba(28, 62, 255, 0.8);
}
.course .course-content .card__side-front .tag__2:nth-of-type(2) {
  transform: translateY(-0.5rem);
}
.course .course-content .card__side-front .tag__3 {
  width: fit-content;
  padding: 0.4rem 1.2rem;
  border-radius: 1.5rem;
  background-color: rgba(40, 180, 133, 0.8);
}
.course .course-content .card__side-front .tag__3:nth-of-type(2) {
  transform: translateY(-0.5rem);
}
.course .course-content .card__side-front ul {
  width: 100%;
  margin-top: 1rem;
}
.course .course-content .card__side-front ul li {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
.course .course-content .card__side-front ul li:not(:last-child) {
  border-bottom: rgba(119, 119, 119, 0.8) solid 1px;
}
.course .course-content .card__side-back {
  transition: all 0.8s ease;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.course .course-content .card__side-back .heading-item {
  color: #fff;
  font-weight: 500;
}
.course .course-content .card__side-back .heading-item:nth-of-type(2) {
  font-size: 4rem;
  font-weight: 100;
}
.course .course-content .card__side-back .button-link {
  background-color: #fff;
  color: #777;
}
.course .course-content .card__side-back .button-link::after {
  background-color: #fff;
}
.course .course-content .card__side-back-1 {
  background-image: linear-gradient(to right, #ffb900, #ff7730);
}
.course .course-content .card__side-back-2 {
  background-image: linear-gradient(to right, #8e9efc, #1c3eff);
}
.course .course-content .card__side-back-3 {
  background-image: linear-gradient(to right, #55c57a, #28b485);
}
.course .course-content .card:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}
.course .course-content .card:hover .card__side-front {
  transform: rotateY(-180deg);
}
.course .course-content .card:hover .card__side-back {
  transform: rotateY(0);
}

@media screen and (max-width: 1200px) {
  .course .course-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .course .course-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 0;
    row-gap: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
