.heading-section {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4rem;
    transition: all 0.2s;

    @include textgradient;

    &:hover {
        text-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2);
        transform: skewY(5deg) scale(1.1)
    }
}


@media only screen and (max-width: 768px) {
    .heading-section {
        font-size: 2rem;
    }
}
