.btn-link {
    display: inline-block;
    padding: 1rem 2.5rem;
    border-radius: 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.btn-link:hover {
    transform: translateY(-3px);
}

.btn-link:active {
    transform: translateY(3px);
}

